---
export interface Props {
  items: {
    title: string;
    description: string;
    image: string;
  }[];
}

const { items } = Astro.props;
---



<div class="w-full inline-flex flex-nowrap overflow-hidden [mask-image:_linear-gradient(to_right,transparent_0,_black_128px,_black_calc(100%-200px),transparent_100%)]
mt-6
">
    <ul class="flex items-center justify-center md:justify-start [&_li]:mx-8 [&_img]:max-w-none animate-infinite-scroll">
        {
            items.map(item => {
                return(
                    <li>
                        <img src={item.image} alt={item.title} class="h-64 w-auto rounded-4xl "/>
                     </li>
                )
            })
        }
        {
            items.map(item => {
                return(
                    <li>
                        <img src={item.image} alt={item.title} class="h-64 w-auto rounded-4xl  "/>
                     </li>
                )
            })
        }
      
    </ul>                
</div>
