<section class="flex gap-2 justify-center">

            <a href="https://www.tiktok.com/@marbuhomecol" target="_blank" aria-label="TikTok" title="Ir a MarbuHome en TikTok"
                class="bg-white social-button"
            >
                <svg width="40" height="40">
                    <use xlink:href="sprite.svg#tiktok-icon"/>
                </svg>
            </a>
           
            <a 
                href="https://www.instagram.com/marbuhome/" target="_blank" aria-label="Instagram" title="Ir a marbuhome en Instagram"
                class="bg-gradient-to-br from-pink-500 via-purple-500 to-yellow-500 text-white social-button"
            >
                <svg width="40" height="40">
                    <use xlink:href="sprite.svg#instagram-icon"/>
                </svg>
            </a>

            <a href=" https://wa.me/573102757056?text=Hola%2C%20quisiera%20recibir%20asesor%C3%ADa%20por%20favor" target="_blank" aria-label="Whatsapp" title="Contactar por Whatsapp"
                class="bg-green-200 social-button"
            >
                <svg width="30" height="30">
                    <use xlink:href="sprite.svg#whatsapp-icon"/>
                </svg>
            </a>

            <a href="https://www.facebook.com/MarbuHome/?ref=pl_edit_xav_ig_profile_page_web" target="_blank" aria-label="Facebook" title="Ir a MarbuHome en Facebook"
                class="bg-blue-300 social-button"
            >
                <svg width="40" height="40">
                    <use xlink:href="sprite.svg#facebook-icon"/>
                </svg>
            </a>

</section>