---
import { Image } from 'astro:assets';
import MarbuIconPaint from '../assets/images/about/marbuhome_logo.webp';

---

<section class="bg-[url(/backgrounds/bg_1.webp)] bg-cover bg-bottom-left bg-no-repeat bg-fixed h-screen grid grid-cols-[40%_60%] overflow-hidden" id="about">

    <div class=" flex flex-col items-center justify-center">
        <article class="prose prose-lg pl-10">
            <span >Sobre Nosotros</span>
            <h2 class=" mt-0 text-4xl font-bold">Dedicaci칩n y Excelencia para el Bienestar de los Hogares Colombianos 游뻟릖</h2>
            <p class="text-lg"><strong>En Marbu Home nos dedicamos a ofrecer soluciones pl치sticas innovadoras pensadas para los hogares colombianos.</strong> Nuestro compromiso es brindar productos de alta calidad, pr치cticos y duraderos, que acompa침en el d칤a a d칤a de las familias en todo el pa칤s, facilitando sus tareas y mejorando su bienestar en el hogar.</p>
            <p class="text-xl"> 
                <strong>游뻟릖 Somos productores 100% colombianos 游뻟릖</strong>
            </p>
        </article>
    </div>
    <div class=" flex flex-col items-center justify-center">
        <Image src={MarbuIconPaint} alt="Logo de Marbu Home" class="w-3/4 h-auto object-cover" />
    </div>

</section>