---
import "../styles/global.css";

---
    <header class="
        grid grid-cols-2 p-5 w-full h-24 bg-linear-to-r from-gradiant-2 to-gradiant-1
        text-white
    ">
    <a href="/" class="flex items-center gap-3">
        <img src="/icons/logo.svg" alt="Mabu Home Logo" class="w-15 h-15" />
        <nav class="text-3xl font-semibold">Marbu Home</nav>
    </a>

    <ul class="flex justify-center items-center gap-5 text-xl font-semibold">
        <li class="transition-all duration-300 transform hover:scale-105">
            <a href="#about" class="
                hover:text-gray-300 hover:underline  ">

                <img src="/icons/about.svg" alt="Sobre Nosotros" title="Sobre Nosotros" class="w-6 h-6 inline" />
                Sobre Nosotros
            </a>
        </li>
        <li class="transition-all duration-300 transform hover:scale-105">
            <a href="#products" class="
                hover:text-gray-300 hover:underline">
                <img src="/icons/buy.svg" alt="Productos" title="Productos" class="w-6 h-6 inline" />
                Productos
            </a>
        </li>
        <li class="transition-all duration-300 transform hover:scale-105">
            <a href="#contact" class="
                hover:text-gray-300 hover:underline">
                <img src="/icons/contact.svg" alt="Contactanos" title="Contactanos" class="w-6 h-6 inline" />
                Contactanos
            </a>
        </li>
    
    </ul>

    </header>
</header>
